<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">

	<!-- 포스팅 제목 -->
	<title>알아두면 쓸모 있는 GIT 명령어 02. cherry-pick</title>

	<!-- ##### 페이스북 ##### -->
	<meta name="description" content="개자이너 블로그에 포스팅 된 글을 볼 수 있습니다.">
	<meta property="og:type" content="website">
	<meta property="og:title" content="개자이너 블로그">
	<meta property="og:description" content="개발지식을 공유하고싶어요">
	<meta property="og:image" content="http://www.gaesignerblog.com/images/gaesigner_400x400.jpg">
	<meta property="og:url" content="http://www.gaesignerblog.com/">


	<!-- ##### 트위터 ##### -->
	<meta name="twitter:card" content="photo"/>
	<!-- summary, photo, player -->


	<meta name="twitter:title" content="개자이너 블로그"/>
	<meta name="twitter:description" content="개발지식을 공유하고싶어요">
	<meta name="twitter:image:src" content="http://www.gaesignerblog.com/images/gaesigner_400x400.jpg"/>
	<meta name="twitter:site" content="개자이너"/>
	<meta name="twitter:creator" content="개자이너"/>

	<script src="/js/index.js"></script>
	<link rel="stylesheet" href="/css/index.css">

</head>
<body>

	<div class="topWrap"><h2>알아두면 쓸모 있는 GIT 명령어 02. cherry-pick</h2><div class="user"><button><span class="nick">keunho</span><span class="number">(4)</span></button></div><span class="date">date 2018. 8. 6. 오후 3:59:33</span><p class="cate"><a href="/post_category/Git">Git</a></p></div>


</body>
</html>