<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">

	<!-- 포스팅 제목 -->
	<title>[React 공식 문서 번역 시리즈] Main Concept - 8. Lists and Keys</title>

	<!-- 포스팅 요약설명 -->
	<meta name="description" content="React 공식 문서 번역 시리즈(v16.4.1). 챕터8, Lists and Keys. https://reactjs.org/docs/lists-and-keys.html">

	<!-- ##### 페이스북 ##### -->
	<meta property="og:url" content="http://www.gaesignerblog.com/post/3" />
	<meta property="og:type" content="website">
	<!-- 포스팅 제목 -->
	<meta property="og:title" content="[React 공식 문서 번역 시리즈] Main Concept - 8. Lists and Keys">
	<!-- 포스팅 요약설명 -->
	<meta property="og:description" content="React 공식 문서 번역 시리즈(v16.4.1). 챕터8, Lists and Keys. https://reactjs.org/docs/lists-and-keys.html">
	<meta property="og:image" content="http://www.gaesignerblog.com/images/gaesigner_400x400.jpg">

	<!-- ##### 트위터 ##### -->
	<meta name="twitter:card" content="summary_large_image"/>
	<meta name="twitter:description" content="디자인과 개발을 사랑하는 모임입니다.">
	<meta name="twitter:title" content="[React 공식 문서 번역 시리즈] Main Concept - 8. Lists and Keys"/>
	<meta name="twitter:image:src" content="http://www.gaesignerblog.com/images/gaesigner_400x400.jpg"/>
	<meta name="twitter:site" content="개자이너"/>
	<meta name="twitter:creator" content="개자이너"/>

	<script src="/js/index.js"></script>
	<link rel="stylesheet" href="/css/index.css">

</head>
<body>

	<div class="topWrap"><h2>알아두면 쓸모 있는 GIT 명령어 02. cherry-pick</h2><div class="user"><button><span class="nick">keunho</span><span class="number">(4)</span></button></div><span class="date">date 2018. 8. 6. 오후 3:59:33</span><p class="cate"><a href="/post_category/Git">Git</a></p></div>

</body>
</html>