<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>SNS공유 타이틀입니다.</title>

	<!-- 페이스북 공유하기 -->
	<meta property="og:url"           content="https://www.your-domain.com/your-page.html" />
	<meta property="og:type"          content="website" />
	<meta property="og:title"         content="Your Website Title" />
	<meta property="og:description"   content="Your description" />
	<meta property="og:image"         content="https://www.your-domain.com/path/image.jpg" />

	<script src="/js/index.js"></script>
	<link rel="stylesheet" href="/css/index.css">

</head>
<body>

	<h1>Array.from()</h1>
	<p>Array.from()는 선택 매개변수인 mapFn를 가지는데, 이 매개변수는 배열(혹은 서브 클래스 객체)의 각 요소에 대해 map 함수를 실행합니다. 좀 더 정확하게, 중간에 배열을 만들지 않는 점을 제외한다면, Array.from(obj, mapFn, thisArg)는 Array.from(obj).map(mapFn, thisArg)와 같습니다. 이 특징은 typed arrays와 같은 특정 배열 서브 클래스에서 중간 배열 값이 적절한 유형에 맞게 생략되기 때문에 특히 중요합니다.</p>

</body>
</html>